@page "/datagrid"
@using BlazorComponentsLibrary.Data
@inject WeatherForecastService ForecastService

<h3>Datagrid</h3>


<BlazyDataGrid 
    TItem="WeatherForecast"
    Context="forecast"
    Datasource="forecasts">
    <DataGridHead>        
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
    </DataGridHead>
    <RowTemplate>
        <td>@forecast.Date.ToShortDateString()</td>
        <td>@forecast.TemperatureC</td>
        <td>@forecast.TemperatureF</td>
        <td>@forecast.Summary</td>
    </RowTemplate>
    <EditRowTemplate>
        <td><input type="date" value="@forecast.Date" /></td>
        <td><input type="number" value="@forecast.TemperatureC" /></td>
        <td><input type="number" value="@forecast.TemperatureF" /></td>
        <td><input type="text" value="@forecast.Summary" /></td>
    </EditRowTemplate>
</BlazyDataGrid>


@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
