@typeparam T

<div class="wrapper" @onmouseleave="() => { showTable = false; errorMsg = string.Empty; inputText = string.Empty; }">

    <label>

        <span>
            @Title
            @if (!string.IsNullOrEmpty(errorMsg))
            {
                <span class="error-msg">@errorMsg</span>
            }
        </span>
        <input @bind-value="inputText" @onkeyup="ProcessKeyUp" @onfocusin="() => showTable = true" @onclick="() => showTable = true" @ref="InputElement" />

    </label>

    @if (showLoading)
    {
        <div class="loading-text">@LoadingText</div>
    }

    <div class="suggestions-grid" hidden="@(!showTable)">
        @if (Suggestions != null)
        {
            <div class="body">
                @foreach (var entity in Suggestions)
                {
                    <div @onclick="() => ToggleSelect(entity)" class="@(Selections.Contains(entity) ? "selected" : "")">
                        <span><code>@entity.Id</code></span>
                        <span>@entity.Name</span>
                    </div>
                }
            </div>
        }
    </div>

    <div class="selection-tags">
        @foreach (var selection in Selections)
        {
            <div @onclick="() => RemoveSelection(selection)">
                @selection.Id
                <div class="my-tooltip">@selection.Name</div>
            </div>
        }
    </div>

</div>