<div class="@(isValidated ? "valid-input" : "invalid-input")">    
    <label class="@focusClass @smallClass" for="@guid">@Label</label>
    <input 
        id="@guid"
        value="@Value" 
        @oninput="OnChange" 
        @onfocus="SetFocus"
        @onfocusout="UnsetFocus"
        placeholder="@placeholder" />
</div>

@code {
    string placeholder = string.Empty;
    string labelClass = string.Empty;
    string focusClass = string.Empty;
    string smallClass => string.IsNullOrEmpty(Value) && string.IsNullOrEmpty(focusClass) ? "" : "small";
    bool isValidated = false;
    Guid guid = Guid.NewGuid();

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter] 
    public string Placeholder { get; set; } = string.Empty;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public Func<bool>? IsValid { get; set; }


    private void OnChange(ChangeEventArgs args)
    {
        ValueChanged.InvokeAsync(args.Value?.ToString());
        if (Value != args.Value?.ToString())
            Value = args.Value?.ToString() ?? string.Empty;

        isValidated = (IsValid != null && IsValid.Invoke()) || (IsValid == null && !string.IsNullOrEmpty(Value));
    }

    private void SetFocus()
    {
        placeholder = Placeholder;
        focusClass = "focused";
    }

    private void UnsetFocus()
    {
        placeholder = string.Empty;
        focusClass = string.Empty;
    }
}
