
<h4 class="z-component">@SectionName</h4>
<p>
    
</p>

<div class="options-window">    
    <h6>Options</h6>
    <div class="d-grid d-grid-2-col">
        <BlazyInputText Label="Label" Placeholder="Upper-left text" @bind-Value="@_label" />
        <BlazyInputText Label="Placeholder" Placeholder="Shows on focus" @bind-Value="@_placeholder" />
        <BlazyInputNumber Label="Min value" @bind-Value="@_min" />
        <BlazyInputNumber Label="Max value" @bind-Value="@_max" />
    </div>
    <div class="d-flex my-3">        
        <label>
            <input type='checkbox' @bind-value="@_readonly" />
            Readonly
        </label>
    </div>
</div>

<h5>Example</h5>
<BlazyInputNumber 
    Label="@_label" 
    Placeholder="@_placeholder" 
    Readonly="@_readonly"
    Min="@_min"
    Max="@_max"
    @bind-Value="@_int" />
    
<h5>Code</h5>
<BlazyCodeBox Code="@_code" />
<small>
    <code>Readonly</code> is <BlazyCode>false</BlazyCode> by default. 
    <code>Min</code> and <code>Max</code> are <BlazyCode>null</BlazyCode> by default.
</small>

@code {
    [Parameter]
    public string SectionName { get; set; } = string.Empty;

    string _label = "Input Label";
    int _int;
    int _min = 0;
    int _max = 10;
    string _placeholder = "Input placeholder";

    bool _readonly;
    bool _masked;

    
    string _code => $@"<BlazyInputNumber 
    Label=""{@_label}"" 
    Placeholder=""{@_placeholder}"" 
    Readonly=""{@_readonly}""
    Min=""{@_min}""
    Max=""{@_max}""
    @bind-Value=""@_value"" />" + @"

@code {    
    int _value;
}";
}
