@using Blazy.Components.Abstractions
@page "/navmenus"

<PageTitle>Blazy NavMenus</PageTitle>
<h3>NavMenu</h3>

<h5>Flex with Dropdown on Hover</h5>
<BlazyTopNav Links="@Links" />

<BlazyCodeBox Code="@_code("BlazyTopNav")" IsToggled="true" />

<h5>Flex with Dropdown on Hover</h5>
<BlazySideNav Links="@Links" />

<BlazyCodeBox Code="@_code("BlazySideNav")" IsToggled="true" />

@code {
    string _code(string navName) => $"<{navName}" + @" Links=""@Links"" />

@code {
    BlazyNavMenu.BlazyNavLink[] Links = new BlazyNavMenu.BlazyNavLink[]
    {
        new () {Text = ""HOME"", Href = """"},
        new () {Text = ""NAV GROUP 1"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = ""LINK 1"", Href = """"},
                new () {Text = ""LINK 2"", Href = """"},
                new () {Text = ""LINK 3"", Href = """"},
            }
        },
        new () {Text = ""NAV GROUP 2"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = ""LINK 1"", Href = """"},
                new () {Text = ""LINK 2"", Href = """"},
                new () {Text = ""NESTED LINKS"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
                {
                    new () {Text = ""LINK 1"", Href = """"},
                    new () {Text = ""LINK 2"", Href = """"},
                    new () {Text = ""LINK 3"", Href = """"},
                        new () {Text = ""NESTED LINKS"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
                        {
                            new () {Text = ""LINK 1"", Href = """"},
                            new () {Text = ""LINK 2"", Href = """"},
                            new () {Text = ""LINK 3"", Href = """"},
                        }
                    }
                }
            },
                new () {Text = ""LINK 4"", Href = """"},
            }
        },
        new () {Text = ""NAV GROUP 3"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = ""LINK 1"", Href = """"},
            }
        },
        new () {Text = ""NAV GROUP 4"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = ""LINK 1"", Href = """"},
                new () {Text = ""LINK 2"", Href = """"},
                new () {Text = ""LINK 3"", Href = """"},
                new () {Text = ""LINK 4"", Href = """"},
                new () {Text = ""LINK 5"", Href = """"},
                new () {Text = ""LINK 6"", Href = """"},
            }
        },
        new () {Text = ""NAV GROUP 5"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = ""LINK 1"", Href = """"},
                new () {Text = ""LINK 2"", Href = """"},
                new () {Text = ""LINK 3"", Href = """"},
                new () {Text = ""LINK 4"", Href = """"},
                new () {Text = ""LINK 5"", Href = """"},
                new () {Text = ""LINK 6"", Href = """"},
                new () {Text = ""LINK 7"", Href = """"},
                new () {Text = ""LINK 8"", Href = """"},
            }
        },
        new () {Text = ""NAV GROUP 6"", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = ""LINK 1"", Href = """"},
                new () {Text = ""LINK 2"", Href = """"},
                new () {Text = ""LINK 3"", Href = """"},
                new () {Text = ""LINK 4"", Href = """"},
                new () {Text = ""LINK 5"", Href = """"},
                new () {Text = ""LINK 6"", Href = """"},
                new () {Text = ""LINK 7"", Href = """"},
                new () {Text = ""LINK 8"", Href = """"},
                new () {Text = ""LINK 9"", Href = """"},
                new () {Text = ""LINK 10"", Href = """"},
            }
        },
    };

}";
    
    BlazyNavMenu.BlazyNavLink[] Links = new BlazyNavMenu.BlazyNavLink[]
    {
        new () {Text = "HOME", Href = ""},
        new () {Text = "NAV GROUP 1", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = "LINK 1", Href = ""},
                new () {Text = "LINK 2", Href = ""},
                new () {Text = "LINK 3", Href = ""},
            }
        },
        new () {Text = "NAV GROUP 2", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = "LINK 1", Href = ""},
                new () {Text = "LINK 2", Href = ""},
                new () {Text = "NESTED LINKS", Sublinks = new BlazyNavMenu.BlazyNavLink[]
                {
                    new () {Text = "LINK 1", Href = ""},
                    new () {Text = "LINK 2", Href = ""},
                    new () {Text = "LINK 3", Href = ""},
                        new () {Text = "NESTED LINKS", Sublinks = new BlazyNavMenu.BlazyNavLink[]
                        {
                            new () {Text = "LINK 1", Href = ""},
                            new () {Text = "LINK 2", Href = ""},
                            new () {Text = "LINK 3", Href = ""},
                        }
                    }
                }
            },
                new () {Text = "LINK 4", Href = ""},
            }
        },
        new () {Text = "NAV GROUP 3", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = "LINK 1", Href = ""},
            }
        },
        new () {Text = "NAV GROUP 4", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = "LINK 1", Href = ""},
                new () {Text = "LINK 2", Href = ""},
                new () {Text = "LINK 3", Href = ""},
                new () {Text = "LINK 4", Href = ""},
                new () {Text = "LINK 5", Href = ""},
                new () {Text = "LINK 6", Href = ""},
            }
        },
        new () {Text = "NAV GROUP 5", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = "LINK 1", Href = ""},
                new () {Text = "LINK 2", Href = ""},
                new () {Text = "LINK 3", Href = ""},
                new () {Text = "LINK 4", Href = ""},
                new () {Text = "LINK 5", Href = ""},
                new () {Text = "LINK 6", Href = ""},
                new () {Text = "LINK 7", Href = ""},
                new () {Text = "LINK 8", Href = ""},
            }
        },
        new () {Text = "NAV GROUP 6", Sublinks = new BlazyNavMenu.BlazyNavLink[]
            {
                new () {Text = "LINK 1", Href = ""},
                new () {Text = "LINK 2", Href = ""},
                new () {Text = "LINK 3", Href = ""},
                new () {Text = "LINK 4", Href = ""},
                new () {Text = "LINK 5", Href = ""},
                new () {Text = "LINK 6", Href = ""},
                new () {Text = "LINK 7", Href = ""},
                new () {Text = "LINK 8", Href = ""},
                new () {Text = "LINK 9", Href = ""},
                new () {Text = "LINK 10", Href = ""},
            }
        },
    };
}
