@using Blazyor.Fragments
@using Microsoft.AspNetCore.Components.Routing

<div class="wrapper">    

    @RenderLink(Links)

</div>

@code{
    RenderFragment RenderLink(IEnumerable<BlazyNavLink> links) {
        return __builder =>
        {
            <ul>
                @foreach (var lm in links)
                {
                    if (lm.Sublinks == null)
                    {
                        <li class="nav-item">            
                            <NavLink class="nav-link" href="@lm.Href" Match="@lm.LinkMatch">
                                <span class="label">@lm.Text</span>
                            </NavLink>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"> 
                            <NavLink class="nav-link">
                                <span class="label">@lm.Text</span> <BlazyIcon Icon="BlazyIcon.IconType.Caret_Bottom" />
                            </NavLink>

                            @RenderLink(lm.Sublinks)
                        
                        </li>
                    }

                }
            </ul>
        };
    }
}
